.calendar_table{
    font-size:30px;
}
.calendar_table td{
    position: relative;

    border: 1px solid transparent;
    border-right: 1px solid #ccc;
    min-width:60px;
    height:40px;
}
.calendar_table td:hover{
    border: 1px solid #ccc;
}
.calendar_table a{
    padding:0 12px;
}
.calendar a:hover{
    text-shadow: 0 0 15px yellow;
}

.calendar_link{
    width:80px;
    height:60px;
}

div.calendar {
    width:450px;
    float:right;
    padding-left:20px;
    margin-right: 40px;
    border-left:1px solid goldenrod;
}

div.notes {
    width:700px;
    float:right;
    /*border:1px solid gold;*/
}

div.notesDate{
    width:60px;
}
div.notesText{
    width:500px;
    word-wrap: break-word;
    cursor: pointer;
}
div.notesTitle{
    width:150px;
}

table.notesTable {
    width:100%;
    margin-top:40px;
}
table.notesTable td{
    border-bottom: 1px solid #ccc;
    padding-right: 10px;
    height:26px;
}

.notEmptyMarker{
    position: absolute;
    left:0;top:0;
    width:4px;
    border:2px solid coral;
    padding: 0 2px;
    border-radius: 2px;
    font-size: 9px;
}


