body {
    padding: 0;
    font-family: 'Play';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

table td{
    text-align: center;
}

.wrapper {
    height: 80%;
    min-height: 600px;
    width: 100%;
    padding-top: 20px;
}

h1 {
    margin-top: 30px;
    color: #000;
    margin-bottom: 5px;
    font-size: 50px;
    letter-spacing: -4px;
    font-weight: 100;
    font-family: 'Play';
}

h3 {
    margin: 5px 0 5px 0;
    border-bottom: rgba(65, 65, 65, 0.25);
}

div.main_menu {
    position: fixed;
    top: 2%;
    border: 0;
    font-family: 'Play';
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
}

div.main_menu a, a {
    color: rgba(0, 0, 0, 0.75);
}

div.main_menu a:hover, a:hover {
    color: rgba(95, 95, 95, 0.75);
}

div.main_menu ul, ul {
    text-align: center;
    margin: auto;
    margin: 0;
}

div.top_menu ul li {
    display: inline;
    margin-right: 5px;
}
div.bottom{
    text-align: center;
}

ul li {
    margin:0;
}

a.home_link {
    margin-right: 25%;
    float: right;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

a {
    font-family: 'Play';
    text-decoration: none;
}

pre {
    /*font-family: 'Play';*/
    margin: 0;
}

.theme_text {
    font-family: Play;
}

span.aspan1 {
    font-size: 24px;
    color: orange;
}



input, button, textarea  {
    font-family: 'Play';
    border: 4px solid rgb(214, 214, 214);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    line-height: 140%;
    font-size: 17px;
    font-weight: bold;
    box-shadow: none;
    -webkit-box-shadow: none;
}

input, button {
    width:200px;
}
textarea, input  {
    background: rgba(65, 65, 65, 0.25);
}
textarea {
    width:400px;
}

button {
    background: #444;
}

input:hover, textarea:hover {
    border: 4px solid rgb(252, 152, 1);
}

button:hover {
    border: 4px solid rgb(252, 152, 1);
    background: #444;
}

.btns {
    width: 600px;
    margin: 0px auto;
    font-family: 'Play';
}

.btn_small {
    width: 50px;
}

p.main {
    margin: 0;
}

.edit_btn {
    margin-right: 28px;
    width: 24px;
    height: 24px;
}

.remove_btn {
    width: 24px;
    height: 24px;
}

.edit_btn:hover, .remove_btn:hover {
    border-radius: 5px;
}

.modal {
    width:480px;
    background: #fff;
}

.smallText{
    font-size:12px;
}
.bigText{
    font-weight: bold;
    font-size: 24px;
}




