.posts {
	margin: auto;
}

.post {
	font-family: 'Times new roman';
	font-style: italic;
	text-align: justify;
	width: 440px;
	min-height: 60px;
	padding: 10px 10px 10px 70px;
	margin-bottom: 10px;
	/*border: 1px solid rgba(65, 65, 65, 0.25);*/
	word-wrap: break-word;
	overflow: inherit;
	background: url('../img/post2.png') top left;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

.save_post_btn {
	width: 70px;
	height: 96px;
	background: rgba(3, 3, 3, 0.75) no-repeat center
		url('../img/save_post_btn.png');
}

.save_post_btn:hover {
	background: url('../img/save_post_btn.png') rgba(3, 3, 3, 0.85)
		no-repeat center;
}

.post_nav {
	/*border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
    */
	margin-bottom: 5px;
	padding-right: 20px;
	text-shadow: 0 0 10px #00FFFF;
}

.post_nav ul {
	float: right;
}

.post_nav ul li {
	margin: 0;
}

.post_nav a {
	font-size: 32px;
	font-family: Play;
	color: rgba(0, 0, 0, 0.55);
	margin-right: 5px;
}

.attach {
	width: 70px;
	background: url('../img/attach_icon.png') rgba(3, 3, 3, 0.75) no-repeat
		center;
}

.attach:hover {
	width: 70px;
	background: url('../img/attach_icon.png') rgba(3, 3, 3, 0.85) no-repeat
		center;
}

.ui-dialog-titlebar-close {
	margin: 0;
	width: 32px;
	height: 32px;
	background: url('../img/close_icon.png');
}

.ui-dialog-titlebar-close:hover {
	margin: 0;
	border: none;
	box-shadow: none;
	background: url('../img/close_icon.png') rgba(65, 65, 65, 0.25)
		no-repeat center;
}

.ui-icon-closethick {
	background: none;
}

.ui-dialog-titlebar {
	font-family: Play;
	background: none;
}

div[id="editNote"],div[id="removeNote"] {
	font-family: Play;
}

li:first-child  .ui-messages-error-summary {
	float: left;
}

#messages {
	width:450px;
}