<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">
    <composite:interface>
        <composite:attribute name="editPanel"/>
        <composite:attribute name="editAction" method-signature="void action(com.eightbitcenter.model.ModelMarker)"/>
        <composite:attribute name="removePanel"/>
        <composite:attribute name="removeAction" method-signature="void action(com.eightbitcenter.model.ModelMarker)"/>

    </composite:interface>

    <composite:implementation>
        <div class="editPanel" >
            <p:commandLink ajax="true" onclick="PF('#{cc.attrs.editPanel}').show();"
                           styleClass="edit_btn" style="margin:0;"
                           action="#{cc.attrs.editAction}" >
                <p:graphicImage url="#{resource['img/edit_icon.png']}" />
                           </p:commandLink>

            <p:commandLink ajax="true"
                           action="#{cc.attrs.removeAction}"
                           onclick="PF('#{cc.attrs.removePanel}').show();"
                           styleClass="remove_btn" style="margin:0;"
                           process="@form" update="@form" >
                <p:graphicImage url="#{resource['img/delete_icon.png']}" />
            </p:commandLink>
        </div>


    </composite:implementation>
</html>