<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">
    <div class="bottom">
        <p>Copyright © 2013 - 8bitcenter </p>
    </div>
</ui:composition>