<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="top">
        <div class="top_menu">
            <a href="http://8bitcenter.com" class="home_link">8bit<span
                    class="aspan1">center</span></a>
            <ul>
                <li><h:link outcome="posts" value="Posts"/></li>
                <li><h:link outcome="calendar" value="Calendar"/></li>
                <li><p:commandLink action="moneybox" actionListener="#{moneyboxBean.init()}" value="Moneybox"/></li>
                <li><a href="#" style="font-size:10px;">(#{userBean.email})</a><p:commandLink action="#{userBean.logout()}" value="LogOut"/></li>
            </ul>
        </div>
    </h:form>

</ui:composition>