<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" >
<h:head>
    <meta charset='utf-8'/>
    <link rel="shortcut icon" id="favicon"
          href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Play&#38;subset=cyrillic-ext,latin'
          rel='stylesheet' type='text/css'/>
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/main.css' rel='stylesheet' type='text/css' />
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/posts.css' rel='stylesheet' type='text/css' />
    <link href='#{facesContext.externalContext.requestContextPath}/resources/css/calendar.css' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/common.js">
    </script>
</h:head>

<h:body>

    <div class="main">
        <div id="header">
            <ui:insert name="main_menu">
                <ui:include src= "main_menu.xhtml" />
            </ui:insert>
            <ui:insert name="content">
                <ui:include src= "content.xhtml" />
            </ui:insert>
            <ui:insert name="bottom">
                <ui:include src= "bottom.xhtml" />
            </ui:insert>
        </div>
    </div>

</h:body>

</html>