<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:memo="http://java.sun.com/jsf/composite/components"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ps="http://java.sun.com/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <!--<meta charset="utf-8"/>-->
    <title>8bitcenter | Your calendar</title>
    <meta name="title" content="8bitmemo | Your calendar"/>
    <meta name="description"
          content="Free, easy-to-use and lovely software that you will never forget."/>
    <link rel="shortcut icon" id="favicon"
          href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico"/>
    <meta name="author" content="Sergii Pukhov"/>

    <script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/resources/js/common.js">
    </script>

</h:head>

<body>
<ui:composition template="../WEB-INF/templates/template_main.xhtml">

    <ui:define name="content">
        <div class="wrapper">
            <h:form id="form1">

                <div class="calendar">

                    <h1><p:commandButton value="&#60;" styleClass="btn btn_small"/>
                        #{calendarBean.currentMonthString}
                        <p:commandButton value="&#62;" styleClass="btn_small btn"/>
                    </h1>
                    <h:dataTable value="#{calendarBean.daysOfCurrentMonth}" var="week" styleClass="calendar_table">
                        <h:column>
                            <f:facet name="header">Mon</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.monday)}"
                                           actionListener="#{userBean.setDay(week.monday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.monday)};">
                            </p:commandLink>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.monday.number == 0 )}">
                                #{week.monday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Tue</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.tuesday)}"
                                           actionListener="#{userBean.setDay(week.tuesday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.tuesday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.tuesday.number == 0 )}">
                                #{week.tuesday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Wen</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.wednesday)}"
                                           actionListener="#{userBean.setDay(week.wednesday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.wednesday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.wednesday.number == 0 )}">
                                #{week.wednesday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Thu</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.thursday)}"
                                           actionListener="#{userBean.setDay(week.thursday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.thursday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.thursday.number == 0 )}">
                                #{week.thursday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Fri</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.friday)}"
                                           actionListener="#{userBean.setDay(week.friday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.friday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.friday.number == 0 )}">
                                #{week.friday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sat</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.saturday)}"
                                           actionListener="#{userBean.setDay(week.saturday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.saturday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.saturday.number == 0 )}">
                                #{week.saturday.number}
                            </h:panelGroup>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sun</f:facet>
                            <p:commandLink ajax="true" value="#{week.getDayOfMonthNumber(week.sunday)}"
                                           actionListener="#{userBean.setDay(week.sunday.day.toDate())}"
                                           update=":form1:notes"
                                           style="color:#{week.getDayColorString(week.sunday)};"/>
                            <h:panelGroup layout="block" styleClass="notEmptyMarker"
                                          rendered="#{not (week.sunday.number == 0 )}">
                                #{week.sunday.number}
                            </h:panelGroup>
                        </h:column>

                    </h:dataTable>

                </div>
                <h:panelGroup layout="block" id="notes" styleClass="notes">

                    <p:commandButton styleClass="btn" style="float:right;margin-right:40px;" value="Add note "
                                     onclick="PF('addNote').show();"/>

                    <h3>Your notes on #{userBean.dateFormatted}</h3>

                    <c:if test="${empty userBean.notes}">
                        <h3 style="margin-top: 30px; color:#ccc;">You didn't make notes for this day yet.</h3>
                    </c:if>
                    <c:if test="${not empty userBean.notes}">
                        <h:dataTable value="#{userBean.notes}" var="note" id="notesTable" class="notesTable">

                            <h:column>
                                <f:facet name="header">Time</f:facet>

                                <div class="notesDate">
                                    <h:outputText value="#{note.time.trim()}"/>
                                </div>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Note</f:facet>

                                <h:panelGroup layout="block" styleClass="notesText" style="text-align: left;" >
                                    <h:outputText value="#{note.title}" style="font-weight:bold;"/>
                                    <br/>
                                        <pre>
                                             <h:outputText value="#{note.shortText}" styleClass="short" style="font-size:12px;"/>
                                             <h:outputText value="#{note.text}" styleClass="full" style="display:none;font-size:12px;"/>
                                        </pre>
                                </h:panelGroup>
                            </h:column>
                            <h:column>
                                <memo:editPanel editAction="#{noteBean.setEditedNote(note)}"
                                                removeAction="#{noteBean.setEditedNote(note)}"
                                                removePanel="removePanel" editPanel="editPanel"/>
                            </h:column>


                        </h:dataTable>
                    </c:if>

                </h:panelGroup>
            </h:form>

        </div>

        <!-- MODALS -->

        <h:form prependId="false" id="addNoteForm">
            <p:dialog id="addNoteDialog" header="Edit note" widgetVar="addNote"
                      modal="true" height="100%" styleClass="modal" >
                <p:messages id="addNoteMsg" autoUpdate="true"/>
                <h:panelGrid columns="1">

                    <h:panelGrid columns="4">
                        <h:outputText value="time " styleClass="theme_text"/>
                        <h:inputText value="#{noteBean.hrs}" ps:placeholder="hrs" id="hrs"
                                     styleClass="input" required="true" style="width:40px"/> &#58;
                        <h:inputText value="#{noteBean.mins}" ps:placeholder="mins" id="mins"
                                     styleClass="input" required="true" style="width:40px"/>
                    </h:panelGrid>


                    <h:inputText value="#{noteBean.title}" ps:placeholder="title"
                                 id="title" styleClass="input" required="true" style="width:420px"/>

                    <h:inputTextarea cols="30" rows="10" value="#{noteBean.text}" ps:placeholder="text"
                                     styleClass="textarea"
                                     required="true" id="text">
                    </h:inputTextarea>
                </h:panelGrid>


                <p:commandButton value="Save" actionListener="#{noteBean.addNote(userBean.day)}"
                                 action="#{calendarBean.initValues()}" styleClass="btn"
                                 onclick="PF('addNote').hide();" update=":form1" process="@all"/>

            </p:dialog>
        </h:form>


        <h:form prependId="false" id="me">
            <p:dialog id="editNote" styleClass="modal" header="Edit note" widgetVar="editPanel"
                      modal="true">


                <p:commandButton value="Save" action="#{noteBean.updateNote()}"
                                 onclick="if(#{!facesContext.validationFailed})PF('editPanel').show();"
                                 process="@all" update=":form1"/>


            </p:dialog>

            <p:dialog id="removeNote" header="Remove note" styleClass="modal"
                      widgetVar="removePanel" modal="true" height="100%" width="320">
                <h:outputText value="Do you really want to remove this note?"/>
                <br/>

                <div>
                    <p:commandButton value="Remove" styleClass="btn btn_popup"
                                     actionListener="#{noteBean.deleteNote()}" action="#{calendarBean.initValues()}"
                                     process="@all"
                                     onclick="PF('removePanel').hide();" update=":form1"/>
                </div>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>

</body>
</html>