<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:memo="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui" xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:head>
	<!--<meta charset="utf-8"/>-->
	<title>8bitcenter | pretty software</title>
	<meta name="title" content="8bitmemo | pretty software" />
	<meta name="description"
		content="Free, easy-to-use and lovely software that you will never forget." />
	<link rel="shortcut icon" id="favicon"
          href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" />
	<meta name="author" content="Sergii Pukhov" />

</h:head>

<body>

<ui:composition template="../WEB-INF/templates/template_main.xhtml">
    <ui:define name="content">
        <div class="wrapper">
            <div class="btns">
            <h:form id="boxes">
                <c:if test="#{empty moneyboxBean.moneyboxes}">
                    <div class="btns">
                            <h:panelGrid columns="1" style="width:100%;">
                                <p:inputText placeholder="final" value="#{moneyboxBean.finalAmount}" styleClass="input" />
                                Actual:
                                <p:inputText placeholder="actual" value="#{moneyboxBean.actualAmount}" styleClass="input" />
                                Progress:
                                <p:selectOneMenu value="#{moneyboxBean.currency}" styleClass="input" >
                                    <f:selectItems value="#{moneyboxBean.currencies}"/>
                                </p:selectOneMenu>

                                <p:commandButton value="Add a box" actionListener="#{moneyboxBean.addMoneybox}"
                                     styleClass="btn" update="boxes" />
                            </h:panelGrid>


                    </div>
                </c:if>
                <c:if test="#{not empty moneyboxBean.moneyboxes}">


                        <p:commandButton value="Add money" styleClass="btn" style="float:right;" onclick="PF('addMoney').show();" />
                        <h:panelGrid columns="3">
                            <h:outputText value="Goal: "/>
                            <h:outputText value="#{moneyboxBean.finalAmount} " styleClass="bigText"/> #{moneyboxBean.currency}
                            <h:outputText value="Actual: "/>
                            <h:outputText value="#{moneyboxBean.actualAmount} " styleClass="bigText"/> #{umoneyboxBean.currency}

                        </h:panelGrid>
                        <h:outputText value="Progress:"/>
                        <p:progressBar value="#{(moneyboxBean.actualAmount)*100/moneyboxBean.finalAmount}" displayOnly="true"
                                       labelTemplate="{value}%" style="width:400px;"/>

                </c:if>
            </h:form>

            </div>

            <!-- MODALS -->
            <h:form prependId="false" id="me">
                <p:dialog id="addMoneyPanel" styleClass="modal" header="Add an amount" widgetVar="addMoney"
                          modal="true" >
                    <h:panelGrid columns="1">
                        <p:inputText value="#{moneyboxBean.moneyToAdd}" styleClass="input" />
                        <p:commandButton value="Add" action="#{moneyboxBean.addMoney()}"
                                         onclick="PF('addMoney').hide();"  styleClass="btn"
                                         process="@all" update="@(form)" />
                    </h:panelGrid>

                </p:dialog>
            </h:form>

        </div>
    </ui:define>

</ui:composition>

</body>
</html>