<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:memo="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<!--<meta charset="utf-8"/>-->
	<title>8bitcenter | pretty software</title>
	<meta name="title" content="8bitmemo | pretty software" />
	<meta name="description"
		content="Free, easy-to-use and lovely software that you will never forget." />
	<link rel="shortcut icon" id="favicon"
          href="#{facesContext.externalContext.requestContextPath}/resources/img/favicon.ico" />
	<meta name="author" content="Sergii Pukhov" />

</h:head>

<body>

<ui:composition template="../WEB-INF/templates/template_main.xhtml">
    <ui:define name="content">
        <div class="wrapper">

                <div class="btns">
                    <h1>#{msg['posts_title']}</h1>

                    <h:form prependId="false">
                        <p:messages id="messages" autoUpdate="true" closable="true" />
                        <h:panelGrid columns="3">
                            <p:inputText placeholder="topic" style="width:400px;"
                                         value="#{postBean.topic}" required="true" id="topicInput" />
                            <p:message for="topicInput" display="icon" />


                            <p:button styleClass="reload btn attach" value="" />
                            <p:inputTextarea styleClass="textarea" value="#{postBean.message}"
                                             placeholder="enter your note here..." rows="4" required="true"
                                             id="messageInput" />
                            <p:message for="messageInput" display="icon" />


                            <p:commandButton styleClass="btn save_post_btn" value=""
                                             action="#{postBean.savePost()}" update=":notesForm"/>
                        </h:panelGrid>
                    </h:form>

                    <h:form id="notesForm" prependId="false">
                        <h:dataTable value="#{userBean.posts}" var="var" styleClass="posts"
                                     id="table">
                            <h:column>
                                <div class="post">
                                    <f:facet name="header">
                                        <h:outputText value="Your notes:" />
                                    </f:facet>
                                    <div class="post_nav">

                                        <memo:editPanel editAction="#{postBean.setEditedPost(var)}"
                                                        removeAction="#{postBean.setEditedPost(var)}"
                                                        removePanel="removePanel" editPanel="editPanel"/>


                                        <h3>
                                            <h:outputText value="#{var.topic}" />
                                        </h3>

                                    </div>
                                     <pre>
                                    <h:outputText value="#{var.message}" />
                                     </pre>
                                </div>
                            </h:column>
                        </h:dataTable>
                    </h:form>
                </div>

            </div>
        <h:form prependId="false" id="me">
            <p:dialog id="editNote" styleClass="modal" header="Edit note" widgetVar="editPanel"
                       modal="true" >


                    <h:panelGrid columns="1">
                        <h:outputText value="Topic:" styleClass="theme_text" />
                        <p:inputText styleClass="input" value="#{postBean.topic}" id="topic" required="true" >
                            <f:validateLength minimum="2" />
                        </p:inputText>
                        <p:message for="topic" display="text" />
                        <h:outputText value="Message:" styleClass="theme_text" />
                        <h:inputTextarea cols="30" rows="10" value="#{postBean.message}"
                                         required="true" id="message">
                            <f:validateLength minimum="2" />
                        </h:inputTextarea>
                        <p:message for="message" display="text" />
                    </h:panelGrid>


                    <p:commandButton value="Save" action="#{postBean.updatePost()}"
                                      onclick="if(#{!facesContext.validationFailed})PF('editPanel').show();">
                    </p:commandButton>


            </p:dialog>

            <p:dialog id="removeNote" header="Remove note"
                       widgetVar="removePanel" modal="true" height="100%" width="320">
                <h:outputText value="Do you really want to delete this note?" />
                <br />
                <div>
                    <p:commandButton value="Delete" styleClass="reload btn btn_popup"
                                      action="#{postBean.deletePost()}" process="@this"
                                      update=":notesForm" onclick="PF('removePanel').hide();" />
                </div>
            </p:dialog>
        </h:form>
    </ui:define>

</ui:composition>

</body>
</html>