<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:p="http://primefaces.org/ui" >

<h:head>
    <title>Welcome</title>
    <link href='http://fonts.googleapis.com/css?family=Play&#38;subset=cyrillic-ext,latin'
          rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" id="favicon" type="image/x-icon"
          href="#{resource['img/favicon.ico']}"/>

</h:head>
<body>
<ui:composition template="WEB-INF/templates/template_main.xhtml">
    <ui:define name="main_menu">

    </ui:define>
    <ui:define name="content">
        <div class="wrapper">

                <div class="btns">
                    <h1 class="main">
                        <h:outputText style="font-size:46px; font-family:'Play'; color:#999999;"
                                      value="#{msg['welcomeTitle']}"/>  Memo</h1>

                    <p>keep here necessary things
                    </p>
                    <h:form>
                        <h:panelGrid columns="1">
                            <p:inputText placeholder="email" value="#{userBean.email}" styleClass="input"
                                         required="true"/>

                            <p:password placeholder="password" value="#{userBean.password}" styleClass="input"/>
                            <p:messages id="loginMessage" autoUpdate="true" />

                            <p:commandButton value="Login" action="#{userBean.validateLogin()}" styleClass="btn"/>

                            <p:button value="Register" outcome="register.xhtml" styleClass="btn"/>
                        </h:panelGrid>
                    </h:form>
                 </div>


        </div>
    </ui:define>

</ui:composition>
</body>
</html>