<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<!--<meta charset="utf-8"/>-->
	<title>8bitcenter | pretty software</title>
	<meta name="title" content="8bitmemo | pretty software" />
	<meta name="description" content="Free, easy-to-use and lovely software that you will never forget." />
	<link rel="shortcut icon" id="favicon" href="resources/img/favicon.ico"/>
	<meta name="author" content="Sergii Pukhov"/>

  
</h:head>
<body>
<ui:composition template="WEB-INF/templates/template_main.xhtml">
    <ui:define name="main_menu">

    </ui:define>
    <ui:define name="content">
        <div class="wrapper">

            <div class="btns">
                <h1 class="main"><span style="font-size:46px; color:#999999;">Welcome to</span> Memo</h1>
                <p>Use Memo to keep in mind all necessary things
                </p>
                <h:form >

                    <h:panelGrid columns="1">
                        <p:messages autoUpdate="true" />
                        <!--<h:outputText value="Login:" />-->
                        <h:link outcome="login.xhtml">back</h:link>
                        <p:inputText value="#{userBean.email}" placeholder="email" styleClass="input" required="true"
                                     requiredMessage="Email field is empty" validatorMessage="email is not valid">
                             <f:validateRegex pattern="^(\S+)@([a-z0-9-]+)(\.)([a-z]{2,4})(\.?)([a-z]{0,4})+$" />
                        </p:inputText>
                        <p:password value="#{userBean.password}" placeholder="password"
                                    id="pass1" match="pass2"  styleClass="input" required="true" requiredMessage="Password field is empty"/>
                        <p:password value="#{userBean.password}" placeholder="repeat password" id="pass2"
                                    styleClass="input" />
                        <p:inputText value="#{userBean.firstname}" placeholder="first name" styleClass="input"
                                     required="true" requiredMessage="First name field is empty"/>
                        <p:inputText value="#{userBean.secondname}" placeholder="second name" styleClass="input"
                                     required="true" requiredMessage="Second name field is empty" />

                        <!--<p:captcha label="Captcha" theme="blackglass" publicKey="6LfwZwoAAAAAAEhRyntKF1PBzysAJLzqp2v-GMRR"/>-->

                        <!--<h:outputText value=""></h:outputText>-->
                        <p:commandButton value="Register" action="#{userBean.register()}" styleClass="btn" />

                    </h:panelGrid>

                </h:form> </div>
        </div>
    </ui:define>
</ui:composition>


</body>
</html>